body {
    background: #d0410d;
    font: normal 15pt Arial;
}

header {
    color: #ffff;
    text-align: center;
}

section {
    background: #ffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
}

footer {
    color: #ffff;
    text-align: center;
    font-style: italic;
}

p {
    text-align: center;
    font: normal 16pt Arial;
}

input {
    font: normal 12pt Arial;
}

div#res{
    font: normal 16pt Arial;
}

div {
    text-align: center;
}

option {
    font: normal 12pt Arial;
}